<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hisun.kugga.duke.league.dal.mysql.LeagueRuleMapper">


    <!--
    select t1.id as leagueId,
       t1.league_name as leagueName,
       t1.league_avatar as leagueAvatar,
       t1.league_desc as leagueDesc,
       t1.auth_flag as leagueAuthFlag,
       t2.enabled_auth as enabledAuth,
       t2.auth_price as authPrice,
       t2.chat_price as reportPrice,
       t2.report_price as chatPrice,
       t2.enabled_user_join as enabledUserJoin,
       t2.enabled_admin_approval as enabledAdminApproval,
       t2.posts_search_switch as postsSearchSwitch,
       t2.subscribe_select as subscribeSelect,
       t2.subscribe_month_price as subscribeMonthPrice,
       t2.subscribe_quarter_price as subscribeQuarterPrice,
       t2.subscribe_year_price as subscribeYearPrice,
       t2.subscribe_forever_price as subscribeForeverPrice
from duke_league t1
         left join duke_league_rule t2  on t1.id = t2.league_id
where t1.id = 1
    -->
    <select id="getLeagueRuleInfoByLeagueId2" resultType="com.hisun.kugga.duke.league.vo.rule.LeagueRuleVO">
        select t1.id                      as leagueId,
               t1.league_name             as leagueName,
               t1.league_avatar           as leagueAvatar,
               t1.league_desc             as leagueDesc,
               t1.auth_flag               as leagueAuthFlag,
               t2.enabled_auth            as enabledAuth,
               t2.auth_price              as authPrice,
               t2.chat_price              as reportPrice,
               t2.report_price            as chatPrice,
               t2.enabled_user_join       as enabledUserJoin,
               t2.enabled_admin_approval  as enabledAdminApproval,
               t2.posts_search_switch     as postsSearchSwitch,
               t2.subscribe_select        as subscribeSelect,
               t2.subscribe_month_price   as subscribeMonthPrice,
               t2.subscribe_quarter_price as subscribeQuarterPrice,
               t2.subscribe_year_price    as subscribeYearPrice,
               t2.subscribe_forever_price as subscribeForeverPrice
        from duke_league t1
                 left join duke_league_rule t2 on t1.id = t2.league_id
        where t1.id = #{leagueId}
    </select>
</mapper>
